// Fonts
$mainFont: Arial, sans-serif;

// Sizes
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.15;

$gap: 15px;

// Media
$desctopWidth: 1280px;
$tabletWidth: 992px;
$mobileWidth: 768px;

//Colors
$defaultColor: #ffffff;
$primaryColor: #f4f4f4;
$blueColor: #006ec9;
$lightBlueColor: #c2e5ff;
$darkColor: #2d2d2d;
$grayColor: #9d9d9d;